<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs429.todorpg.revised"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.cs429.todorpg.revised.GameApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_character"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cs429.todorpg.revised.CharacterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.cs429.todorpg.revised.HabitActivity" />
        <activity android:name="com.cs429.todorpg.revised.ToDoActivity" />
        <activity android:name="com.cs429.todorpg.revised.InventoryActivity" />
        <activity android:name="com.cs429.todorpg.revised.RewardsActivity" />
        <activity android:name="com.cs429.todorpg.revised.BattleActivity" />
<!--      <activity android:name="com.cs429.todorpg.revised.ShopActivity" />  -->
        <activity android:name="com.cs429.todorpg.revised.CalendarView" />
        <activity android:name="com.cs429.todorpg.revised.AlarmNotification" />
        <activity android:name="com.cs429.todorpg.revised.DeviceListActivity"
            android:parentActivityName="com.cs429.todorpg.revised.BattleMainActivity" />
        <activity
            android:name="com.cs429.todorpg.revised.DailyActivity"
            android:label="@string/title_activity_daily" >
        </activity>
        <activity
            android:name="com.cs429.todorpg.revised.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs429.todorpg.revised.RewardActivity"
            android:label="@string/rewards"
            android:parentActivityName="com.cs429.todorpg.revised.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name="com.cs429.todorpg.revised.StatusActivity"
            android:label="@string/title_activity_stats" >
        </activity>

        <receiver
            android:name="com.cs429.todoprg.service.AlarmReceiver"
            android:process=":remote" />

        <service
            android:name="com.cs429.todoprg.service.AlarmService"
            android:enabled="true" />

        <activity
            android:name="com.cs429.todorpg.revised.ShopActivity"
            android:label="@string/title_activity_shop" >
        </activity>
        <activity
            android:name="com.cs429.todorpg.revised.BattleMainActivity"
            android:parentActivityName="com.cs429.todorpg.revised.MainActivity"
            android:label="@string/title_activity_battle_main" >
        
        </activity>
         <activity
            android:name="com.cs429.todorpg.revised.TutorialBattleActivity"
            android:parentActivityName="com.cs429.todorpg.revised.MainActivity"
            android:label="@string/tutorial_battle" >
        </activity>
    </application>

</manifest>